/* header */
.header__top {
  align-items: center;
  background: linear-gradient(0deg, var(--color-black) 30%, var(--color-black-opacity-1) 100%);
  display: flex;
  flex-flow: row nowrap;
  grid-area: header;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header__top h1 {
  padding: 1.5rem 0 1.5rem 0;
  text-shadow: -0.2rem -0.2rem 0 var(--color-primary), 0.2rem 0.2rem 0 var(--color-secondary);
}

.header__top img {
  border-bottom: 0.2rem double var(--color-primary);
  border-left: 0.2rem double var(--color-secondary);
  border-right: 0.2rem double var(--color-primary);
  border-top: 0.2rem double var(--color-secondary);
  box-shadow: -0.3rem -0.3rem 0 var(--color-primary), 0.3rem 0.3rem 0 var(--color-secondary);
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

@media (max-width: 600px) {
  .header__top {
      flex-flow: column nowrap;
  }
}